:root {
    --color-green-dark: #4A5D3A;
    --color-green-light: #9BA083;
    --color-brown-dark: #3C2A1A;
    --color-brown-light: #C4956A;
    --color-background: #EDE4CD;
    --color-brown-light-light: #716250;
    --color-button-background: #CFC5AF;
}