:root {
    font-size: 14pt;
}

body {
    background-color: #EDE4CD;
    margin: 0;
    padding: 0;
}

nav {
    overflow: hidden;
    height: 4rem;
    padding-right: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4956A;
}

nav img {
    height: 2rem;
    width: 2rem;
}

.search-cart {
    display: flex;
    gap: 1rem;
}

.homeimage {
    position: relative;

    font-size: 3rem;
    height: 30rem;
    overflow-y: hidden;
}

.heading-overlay {
    color: black;
    position: absolute;
    top: 5%;
    left: 58%;
    font-size: 8rem;
}

.heading-overlay2 {
    color: black;
    position: absolute;
    top: 31%;
    left: 60%;
    font-size: 8rem;
}


.heading-image {
    width: 100%;
    object-fit: cover;
    transform: translateY(-18rem);
}

.subnav {
    float: left;
}

.subnavbtn {
    height: 4rem;
    width: 5.2rem;
    margin-left: 1.2rem;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnavbtn:hover {
    background-color: #8A9F7B;

}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #8A9F7B;
}

.subnav-content {
    font-size: 1.5rem;
    display: none;
    position: absolute;
    left: 0;
    background-color: #8A9F7B;
    width: 100%;
    z-index: 1;
    height: 2.75rem;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    height: 100%;
    background-color:  #8A9F7B;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
    display: flex;
    align-items: center;
}

.subnav:hover .subnav-content {
    display: flex;
}

.home-container {
    display: absolute;
    overflow: hidden;
    height: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4956A;
    margin-bottom: 2rem;
}

.home-container a {
    font-size: 2rem;
    text-decoration: none;
    color: #4A5D3A;
 }

 .content-box {
    position: relative;
    overflow: hidden;
    width: 75rem;
    height: 27rem;
    border-radius: 15px;
    margin: 1.1rem auto;
 }

 .content-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#mangoes {
    object-position: center 12%;
    transform: scale(1.2) translateX(5%);
}

#serving {
    object-position: center 20%;
}

#everyone {
    transform: scale(1.2) translateX(-8%);
    object-position: -10% 50%;
}

#hazel {
    object-position: center 90%;
    transform: scaleX(-1);
}

#pour {
    object-position: -10% 0%;
}

#mangoes-title {
    position: absolute;
    color: white;
    text-align: right;
    top: 30%;
    left: 40%;
    font-size: 3rem;
}

#serving-title {
    position: absolute;
    color: white;
    text-align: left;
    top: 30%;
    left: 10%;
    font-size: 3rem;
}

#serving-button {
    background-color: #C4956A;
    color: #3C2A1A;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 10rem;
    height: 5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#everyone-title {
    position: absolute;
    color: white;
    text-align: right;
    top: 20%;
    left: 70%;
    font-size: 3rem;
}

#everyone-button {
    background-color: #C4956A;
    color: #3C2A1A;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 10rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 90%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#hazel-title {
    position: absolute;
    color: white;
    text-align: left;
    top: 30%;
    left: 5%;
    font-size: 3rem;
}

#pour-title {
    position: absolute;
    color: white;
    text-align: right;
    top: 10%;
    left: 57%;
    font-size: 3rem;
}

.story-scoop {
    background-color: #8A9F7B;

}

.footer-column {
  float: left;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
}

.story-scoop:after {
  content: "";
  display: table;
  clear: both;
}

#c1 {
    width: 60%;
}

#c2 {
    width: 40%;
}

.input-button {
    background-color: #EDE4CD;
    color: #8A7C69;
    border: none;
    margin: 0.2rem auto;
    width: 80%;
    height: 3rem;
    text-align: left;
    padding-left: 1rem;
}

.submit-button {
    background-color: #3C2A1A;
    color: #EDE4CD;
    border: none;
    margin: 0.5rem auto;
    width: 80%;
    height: 3rem;
    text-align: center;
}