:root {
    font-size: 14pt;
}

nav {
    overflow: hidden;
    height: 4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDE4CD;
}

nav img {
    height: 2rem;
    width: 2rem;
}

.search-cart {
    display: flex;
    gap: 1rem;
}

.homeimage {
    position: relative;
    font-size: 3rem;
    height: 30rem;
    overflow-y: hidden;
}

.heading-overlay {
    position: absolute;
    top: 15%;
    left: 20%;
}

.heading-image {
    width: 100%;
    object-fit: cover;
    transform: translateY(-10rem);
}

.subnav {
    float: left;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #8A9F7B;
}

.subnav-content {
    font-size: 1.5rem;
    display: none;
    position: absolute;
    left: 0;
    background-color: #8A9F7B;
    width: 100%;
    z-index: 1;
    height: 2.75rem;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    justify-content: space-between;
    height: 100%;
    background-color: #8A9F7B;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
    display: flex;
    align-items: center;
}

.subnav:hover .subnav-content {
    display: flex;
}