
main h1 {
    color: var(--color-green-dark);
    padding-left: 1rem;
    font-family: 'Shrimp';
}

main {
  font-family: 'Shrimp';
}

.product-price {
    color: var(--color-brown-dark);
    font-size: 1.3rem;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.product-title {
    color: var(--color-brown-dark);
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
    margin-top: 0;
    font-size: 1.8rem;
}

.product-card {
  width: 22rem;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  color: white;
}

.product-card:hover {
  cursor: pointer;
}

.product-image {
  width: 100%;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}